<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<table>
	<th>Pokemon</th>
	<th>Level</th>
	<th>Health</th>
	<% @trainer.pokemons.each do |p|%>
		<tr>
			<td style="text-align:left"><%=p.name%></td>
			<td style="text-align:center"><%=p.level%></td>
			<td style="text-align:center"><%=p.health%></td>
			<td><%= button_to "Deal Damage!", damage_path(id: p), :class => "button small", :method => :patch %></td>
		</tr>
	<% end%>
</table>
<% if @trainer == current_trainer%>
	<%= button_to "Create a Pokemon!", new_pokemon_path, :class => "button small"%>
<% end%>